* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0px;
    width: 100vw;
    height: 6vh;
    background-color: #222;
    z-index: 100;
}

header h1 {
    color: white;
    margin: auto;
}

h1, h2, h3, legend, p {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 4vh;
}

.searchResult, .playgroundList, .directionsList, .startForm {
    border: solid 1px blue;
    width: 100vw;
}

.mapContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    border: 1px solid grey;
}

#map {
    height: 100%;
    width: 100%;
  }

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    min-height: 49vh;
    border: solid 1px lightblue;
}

.locateIconContainer {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    position: relative;
    height: 2em;
    margin: 2vw;
}

.iconButton {
    background-color: DodgerBlue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
  }

.iconButton:hover {
    background-color: red;
}

.createRouteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

input {
    text-align: center;
    border: solid 1px black;
}

input [type=radio] {
    display: flex;
    flex-direction: row;
}

.bikeTypeOption {
    display: flex;
    flex-direction: row;
}

.startForm, .startOver {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.uploadFormSection, .uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadForm input, .uploadForm label {
    margin: 2vw auto;
}

.startOver form {
    margin: 1vw auto;
}

.directionsList ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Small devices (portrait tablets and large phones, 501px and up) */
@media only screen and (min-width: 501px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (desktops and large screens, 1000 and up) */
@media only screen and (min-width: 1000px) {

}